:host {
    position: relative;
    z-index: 10;
    color: rgb(93, 117, 196);
  }
  
  .app-navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .app-navbar span {
    text-transform: uppercase !important;
  }
  
  .right {
    margin-left: auto;
    float: right;
  }
  
  .app-angular-logo {
    margin: 0 4px 3px 0;
    height: 26px;
  }
  
  .greeting-hamburger {
    display: none;
  }
mat-button{
   margin-left: 30px; 
  }

  .user {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;         /* Koristi flex za centriranje */
    align-items: center;   /* Vertikalno centriranje */
    gap: 5px;              /* Razmak između elemenata */
  }
  
  .user img {
    width: 40px;
    height: 40px;
  }

  .dropdown-item{
    background-color: transparent;
  }
  
  