<div class="login-container">
    <h2>Log In</h2>
    <form (ngSubmit)="logIn()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          [(ngModel)]="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          [(ngModel)]="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Log In</button>
    </form>
  </div>
  
  <div class="message-box" *ngIf="isActivated">
    <p>Account for {{activated_username}} activated successfully!</p>
    <button (click)="closeMessageBox()">Close</button>
  </div>